.form-wrapper{
    text-align: center;
    background-color: #f6f6f6;
    padding: 30px 80px 30px 80px;
    margin: 80px auto;
    border-radius: 13px;
    box-shadow: 1px 3px 4px #b6b6b6;
    height: auto;
    max-width: 900px;
    width: 70%;
}

.form-wrapper h3{
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: Rio Prata;
}
